.main-page {
    display: flex;
    justify-content: left; 
    align-items: left;
    background: #ecedfc;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(131, 127, 127, 0.39), rgba(0, 0, 0, 0.4)), url('../assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
.main-page-content-wrapper {
  display: flex;
  width: 50%;
  
}

.main-page-content-container {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0));
  min-height: 100vh;
  align-items: center;
  padding-left: 30px;
  
}

.main-page-phrase-container {
  text-align: left;
}

.main-page-phrase {
  padding-bottom: 10px;
  font-size: 3.0em;
  line-height: 1.1;
  margin-bottom: 1rem;
  background: linear-gradient(100deg, #dd0ca9, #32159c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.main-page-phrase span {
  display: block;
}

.main-page-subtext{
  color: #000000;
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
  padding-bottom: 10px;

}
.main-page-subtext span {
  display: block;
  margin-bottom: 0.5rem;
}

