.wrapper {
  white-space: nowrap;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px;
  padding: 10px;
  resize: horizontal;
  cursor: col-resize;
  width: 700px;
  height: 1000px;
  direction: ltr;
}
.weekly-meals-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 20px; 
  }
  .buttons{
    position: relative;
    margin-bottom: -85px;
    display: flex;
    justify-content: space-between;
  }

  .right {
    margin-right: 220px;
    top: -5px;
  }
  
  .left {
    margin-left: 220px;
    top: -5px;
  }

  .home{
    margin-right: 640px;
  }
  .date-meals-container {
    margin-bottom: 20px;
    margin-left:auto;
  margin-right:auto;
  }
  
  .date-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 50px;
  }
  
  .period-header {
    font-size: 20px;
    color: #080808;
    margin-bottom: 30px;
  }
  
  .meal-table {
    font-family: 'Arial';
    margin: 25px auto;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
    tr {
       &:hover {
        td {
          color: #080808;
        }
      }
    }
    th, td {
      color: #000000;
      border: 1px solid #eee;
      padding: 12px ;
      border-collapse: collapse;
    }
    th {
      background: #b259e6;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      &.last {
        border-right: none;
      }
    }
  }
  
  .loading-message {
    font-style: italic;
    color: #666;
  }

  .total-info {
    background-color: #ffffff;
    border: 2px solid #474545;
    padding: 5px;
    margin-top: 20px;
    border-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-image-slice: 1;
  }
  
  .total-box {
    display:flex;
    margin-bottom: 10px;
  }
  
  .total-label {
    flex: 1;
    font-weight: bold;
    margin-right:-500px;
  }
  
  .total-value {
    flex: 1;
  }
  