.signin-container {
    position: relative; 
    top: 200px; 
    left: 1000px;
    display: flex;
    align-items: center;
  }
  
  .logged-in-text {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }