## ----- Environment variables -----
.venv

## ----- backend -----

# Python bytecode files
*.pyc
__pycache__/
.pytest_cache

## ----- frontend -----

# Dependency directories
/node_modules

# Build output
/build
/dist

flask_session